@import "https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.thank_you_div{
    display: none;
}

.main-head{
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-main-text{
    background:rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
}


#navbar{
    z-index: 1000;
    background: transparent !important;
}

.navbar-phone{
    font-size: 1.0em;
    text-decoration: none;
    color: #20409A;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.navbar-phone:hover{
    text-decoration: none;
    color: #8CC63F;
}

.navbar-brand{
    padding-top: 40% !important;
}

.form-text p,input{
    font-family: 'Open Sans', sans-serif;
}

.form-text-head{
    font-family: 'Playfair Display', serif !important;
    font-weight: bold;
    color: #20409A;
    font-size: 30px;
}

.form-text-body{
    font-size:16px;
    color: #20409A;
}

#form-btn{
    border :1px solid #8CC63F;
    color: #FFFFFF;
    background-color: #8CC63F;
}

#form-btn:hover{
    background:#8CC63F;
    color: #ffffff;
}

button{
    border-color: #8CC63F;
    background-color: #8CC63F;
    color: white;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 50%;
    }

    .sidenav{
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 10%;
    }
}

.login-main-text{
    margin-top: 0;
    padding: 60px;
    color: #fff;
}